<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Ajouter une région</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ajout</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	
	<body> 
		<div class="container">
			<h1>Ajouter</h1>
			<form th:action="@{/adresse/createRegion}" th:object="${nRegion}" method="post">
			
				<div class="form-group">
					<label for="nomRegion">nomRegion</label>
					<input type="text" id="nomRegion" th:field="*{nomRegion}" class="form-control">
					<div th:if="${#fields.hasErrors('nomRegion')}" th:errors="*{nomRegion}" class="text-danger"></div>
				</div> 
				 
				<button type="submit" class="btn btn-primary">Enregistrer</button>
				 <a href="/adresse/listeRegions" class="btn btn-primary">Annuler</a>
				<!--
				<button th:href="@{/adresse/listeRegions}" class="btn btn-primary">Annuler</button> 
				  -->
				
			</form>			
			
		</div>
	</body>
	
</html>